.results {
   position: relative;
      &__gradient {
         position: absolute;
         top: -25%;
         left: 0;
         z-index: -1;
      }

		&__number {
      @include number-block();
      border-left: 1px solid var(--blue-400);
      border-bottom: 1px solid var(--blue-400);

      img:first-of-type {
         width: clamp(45px, 34%, 111px);
         margin-inline: clamp(26px, 15%, 49px) auto;
      }
		}

		&__content-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 31px;
		}

      &__name-group {
         width: 75.3%;
         display: flex;
         justify-content: space-between;
         border-right: 1px solid var(--blue-400);
      }

		&__title {
      @include title-font();
      margin-block: clamp(104px, 7.9vw, 114px) 67px;
      margin-inline-start: clamp(13px, 11vw, 158px);
		}

		&__slider-buttons {
      width: 228px;
      margin-inline-end: 14px;
      margin-block: auto 67px;
      display: flex;
      justify-content: space-between;
		}

		&__button {
      width: 110px;
      height: 38px;
      border-radius: 32px;
      border: 1px solid var(--general-black);
      background-color: var(--color);
      cursor: pointer;

      img {
         margin: 0 auto;
      }

			&_prev {
			}

			&_next {
			}
		}

		&__slider {
      width: 77%;
      margin: 0 auto;
      overflow-x: hidden;
      display: flex;
      scroll-behavior: smooth;
      border-left: 1px solid var(--blue-400);

         div:first-child {
            margin-inline-start: 0;
         }
		}

		&__slide {
      min-width: calc((100% - 60px) / 3);
      margin-inline-start: 30px;
      border: 1px solid var(--blue-400);
      padding: 32px 31px 0;
      text-align: center;
		}

		&__slide-image {
         margin: 0 auto 27px;
		}

		&__slide-subtitle {
      margin-block-end: 2px;
      background: var(--gradient-blue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include font (700, clamp(16px, 1.25vw, 18px), 1.55em);
		}

		&__slide-text {
      margin-block-end: 8px;
      @include font (400, 16px, 1.5em);
		}
}

@media screen and (min-width: 1441px) {
   .results {
      &__number {
         width: 23%;
         border-top: 1px solid var(--blue-400);
      }
   }
}

@media screen and (max-width: 1408px) {
   .results {
      &__content-wrapper {
         column-gap: 1%;
      }

      &__slider-buttons {
         width: 20%;
      }

      &__name-group {
         flex-grow: 1;
      }
   }
}

@media screen and (max-width: 968px) {
   .results {
      &__slide {
         padding: 10px;
      }
   }
}

@media screen and (max-width: 733px) {
   .results {
      &__slider {
      width: 90%;
      overflow-x: scroll;
      }
      &__slide {
         min-width: calc((100% - 20px) / 2);
         margin-inline-start: 10px;
      }
      &__slider-buttons {
         display: none;
      }
   }
}

@media screen and (max-width: 415px) {
   .results {
      &__number {
         img:first-of-type {
         margin-inline: 0;
      }
      }
      &__content-wrapper {
         column-gap: 21px;
		}
      &__name-group {
         width: 71.2%;
         flex-grow: 0;
      }
      &__title {
      margin-block: 107px 38px;
      margin-inline-start: 11px;
		}

      &__slider {
      width: 100%;
      }
      &__slide {
         min-width: calc((100% - 49px) / 1.2);
         margin-inline-start: 24.5px;
         padding: 0;
      }
      &__slider-buttons {
         display: none;
      }

      &__slide-image {
         margin: 0 auto 15px;
		}
   }
}