@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Heraclito';
    src: url('../fonts/Heraclito-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Heraclito';
    src: url('../fonts/Heraclito-Bold.ttf');
    font-weight: 700;
}